## Import Libraries

In [2]:
import numpy as np
import boto3
import sagemaker
import io
import os
import sagemaker.amazon.common as smac
from sagemaker import get_execution_role
import pandas as pd
from io import StringIO

bucket = 'ml-exam-bucket-ishaan'

dataset = pd.read_csv('./data/bike+sharing+dataset/day.csv')

dataset

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [3]:
# convert categorical date field
dataset['dteday'] = dataset['dteday'].str.replace('-', '')
dataset.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,20110101,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,20110102,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,20110103,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,20110104,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,20110105,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [4]:
train_data, test_data = np.split(dataset.sample(frac=1, random_state=1729), [int(0.7 * len(dataset))])
print(train_data.shape, test_data.shape)

(511, 16) (220, 16)

In [5]:
# get the features and lables

feature_dataset = train_data[['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',\
    'casual', 'registered']]

features = np.array(feature_dataset.values).astype('float32')
label_dataset = train_data[['cnt']]
labels = np.array(label_dataset.values).astype('float32')
labels_vec = np.squeeze(np.asarray(labels))

In [6]:
labels_vec

array([3485., 5870., 2493., 5572., 4097., 1851., 3641., 4334., 5138.,
       5424., 1913., 4270., 6969., 1471., 4634., 2431., 7350., 4917.,
       3071., 5743., 2277., 4649., 3598., 3351., 4608., 3873., 7013.,
       1812., 5478., 6569., 5225., 2417., 3614., 3392., 4128., 7393.,
       5305., 5058., 1683., 6227., 3272., 2765., 1872., 4773., 3429.,
       5515., 2496., 3068., 8714., 7733., 1098., 6691., 2689., 4169.,
       1461., 7109., 5115., 3523., 5936., 6664., 4040., 3606., 4068.,
       1501., 2832., 2659., 3915., 3831., 3095., 2947., 7697., 1606.,
       4318., 3709., 1969., 6606., 6824., 5047., 4669., 1526., 1985.,
       4266., 4036., 7290., 6591., 1317., 3840., 4575.,  920., 6031.,
       4679., 4127., 3974., 5729., 4486., 2933., 5445., 2115., 1416.,
       7442., 3141., 5409., 7359., 5170., 5298., 6779., 6312., 6296.,
       4795., 5319., 7534., 4717., 4694., 3422., 6889., 7129., 4151.,
       4186., 3974., 3855., 5323., 7264., 5260., 5823., 4153., 5923.,
       1115., 1817., 6241., 4401., 4433., 3872., 7112., 1529., 5026.,
       3620., 5146., 6784., 1301., 1685., 1005., 4665., 2416., 5362.,
       5119., 4381., 5495., 6359., 4862., 4672., 5260., 6153., 4996.,
       3542., 6824., 4916., 4191., 2455.,  822., 2914., 8167.,  981.,
       7713., 2918., 3348.,   22., 8156., 4010., 4966., 4359., 4150.,
       5336., 3204., 6392., 6639., 5634., 2134., 1162., 6904., 7605.,
       3285., 4333., 8294., 1834., 3717., 5582., 7836., 7494., 3333.,
       4891., 3129., 2395., 4274., 7261., 6093., 3228., 5119., 4866.,
       5191., 3520., 4763., 6235., 2913., 6436., 2743., 4790., 4553.,
       4708., 6883., 1749., 8090., 7273., 1538., 5020., 1623., 6891.,
       4639., 4459., 7216., 7001., 5345., 3644., 6140., 4509., 2710.,
       1530., 3867., 1712., 2429., 4521., 2302., 7720., 6869., 4451.,
       7525., 1842., 3613., 5084., 4098., 7461., 6457., 3387., 7458.,
       3784., 7534., 6565., 2376.,  986., 5102., 1807., 3740., 5302.,
       3310., 7804., 3456., 5633., 4475., 4780., 7691., 5375., 1406.,
       2432., 4677., 3322., 1977., 6825., 3368., 4205., 4911., 5191.,
        683., 4569., 4968., 7641., 2114., 5713., 3750., 4725., 7436.,
       6879., 7410., 1248., 6544., 2843., 1162., 3786., 4098., 2034.,
       6398., 4840., 6230., 3959., 4839., 1011., 7765.,  441., 2210.,
       4507., 4511., 3910., 3727., 7375., 6169., 1607., 8362., 6299.,
       5259., 1013., 6864., 7582., 4189., 1204., 7335., 3805., 4714.,
       2425.,  627., 3570., 3423., 2744., 7429., 5686., 5312., 2294.,
       1746., 8555., 1321., 6118., 8120., 3117., 7148., 1917., 7466.,
       4835., 5107., 6786., 2046., 2311., 1977., 7498., 6772., 6855.,
       7132., 4154., 7504., 3425., 5918., 1472., 2660., 4322., 6998.,
       6460., 5267., 2056., 3403., 4758., 6133., 4906., 4220., 5117.,
       4541., 4378., 6053., 2425., 2298., 1996., 1446., 5041., 7538.,
       1000., 4803., 7363., 5180., 7965., 1796., 7446., 7282., 4585.,
       1349., 7421., 4066., 1263.,  985., 4460., 5992., 1787., 4648.,
       3068., 4563., 7006., 7328., 3785., 4352., 3761., 1107., 6192.,
       5062., 4182., 4094., 4195., 6624.,  431., 5629., 7460., 4363.,
       1635., 3409., 4326., 5499., 5810., 5687., 6530., 4590., 1927.,
       6211., 3922., 6861., 6034., 1495., 7175., 2423., 5312., 5315.,
       2028., 1450., 5202., 2927., 4881., 6871., 7499., 7580., 5698.,
       4484., 4864., 6536., 4765., 6572., 4390., 4549., 3214., 4744.,
       2424., 7347., 2121., 7870., 4458., 7907.,  623., 3956., 3624.,
       3926., 6597., 5847., 2227., 1600., 3239., 6857., 3982., 6203.,
        506., 2077., 5905., 6234., 7058., 6778., 5463., 4990., 4548.,
       1096., 7105., 7030., 2485., 4833., 7338., 4302., 4539., 1167.,
       5010., 3958., 5892., 2739., 6421., 5130.,  605., 1421., 4595.,
       3214., 4401., 3663., 4713., 1562., 6196., 5805., 2633., 1795.,
       2471., 4023., 7055., 4118., 8227., 5501., 5008., 4058., 5976.,
       5087., 5566., 4073., 3940., 4978., 4940., 7509.], dtype=float32)

In [8]:
# setup protobuf

buffer = io.BytesIO()
smac.write_numpy_to_dense_tensor(buffer, features, labels_vec)
buffer.seek(0)

prefix = 'realestate'
key = 'linearlearner'
boto3.resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', key)).upload_fileobj(buffer)
s3_train_data = 's3://{}/{}/train/{}'.format(bucket, prefix, key)